@import '../../variables';

.menu {
    position: absolute;
    top: calc(100%);
    left: 2rem;
    width: 30rem;
    border: 2px solid $color-mint-dark;
    border-radius: .5rem;

    .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        max-width: 100%;
        padding: 1.5rem;
        background-color: white;
        border-bottom: 1px solid $color-mint-dark;
        border-radius: 0;
        font-size: 1.8rem;
        cursor: pointer;
        text-decoration: none;

        &:visited {
            color: black;
        }

        &:first-child {
            border-radius: .2rem .2rem 0 0;
        }

        &:last-child {
            border-radius: 0 0 .2rem .2rem;
            border-bottom: none;
        }
    }
}