.categories {
    display: flex;
    flex-wrap: wrap;
    min-width: 70rem;
    color: black;
    padding: 1rem;
    cursor: default;

    .category {
        display: flex;
        align-items: center;
        padding: 0 1rem;

        &-text {
            white-space: nowrap;
        }
    }
}