.skeleton-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    .menu-block {
        position: absolute;
        top: 2.7rem;
        left: 3.3rem;
        height: 3rem;
        width: 5.5rem;
        background-color: #EEEEEE;
    }

    .text-block {
        width: 80%;
        height: 70%;
        background-image: url('../../assets/text-skeleton.png');
        background-repeat: no-repeat;

    }

    .shuffle-button-block {
        position: absolute;
        bottom: 5%;
        height: 5rem;
        width: 20rem;
        background-color: #EEEEEE;
        border-radius: 10rem;
    }
}