.random-thought {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

    .text {
        width: 80%;
        height: 70%;
        margin: auto;
        font-size: 4rem;
        line-height: 1.75;
        text-align: center;
        text-shadow: 0 0 .5rem white, 0 0 .5rem white, 0 0 .5rem white;
        overflow: scroll;
    }

    .shuffle-button {
        position: absolute;
        bottom: 5%;
    }
}