@import '../../variables';

.thoughts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 2rem;
    margin: 0 15%;

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
}