@import '../../variables';

$menu-start: 2rem;
$menu-width: 30rem;
$menu-end: $menu-start + $menu-width;
$sub-menu-right-margin: 2rem;

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    min-height: 100%;
    box-sizing: border-box;
    min-width: 100%;
    width: calc(100vw - $menu-end - $menu-end);
    background-color: white;
    color: black;
    border: 2px solid $color-mint-dark;
    border-radius: 0 .5rem .5rem .5rem;
    box-sizing: border-box;
}