.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 10;

    .menu-button {
        height: 3rem;
        width: fit-content;
        padding: .5rem;
        cursor: pointer;
    }
}